<fieldset>
    <legend>编辑角色<a class="btn btn-primary btn-xs" href="/admin/role/list">
            <span class="glyphicon glyphicon-share-alt"></span> 返回</a>
    </legend>
    <form class="form-horizontal" method="post">
        <table class="table table-form">
            <tbody>
            <tr>
                <th>创建时间:</th>
                <td>
                    {{date .data.CreatedAt "Y-m-d H:i:s"}}
                </td>
            </tr>
            <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">角色名称:</th>
                <td class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input name="role_name" value="{{.data.RoleName}}" class="form-control"
                           type="text" autocomplete="off"{{if eq .data.ID 1}} disabled{{end}}/>
                </td>
            </tr>{{if ne .data.ID 1}}
            <tr>
                <th>规则列表:</th>
                <td>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 50px"><label>
                                    <input type="checkbox" value="0" onclick="checkall('ids', this)"/>
                                </label></th>
                            <th>ID</th>
                            <th>规则标识</th>
                        </tr>
                        </thead>
                        <tbody>{{$selfData := .data}}{{range $k, $v := .polices.List}}
                            <tr>
                                <td><input type="checkbox" name="ids" value="{{$v.ID}}"
                                            {{if $selfData.CheckPolicy $v.ID}} checked{{end}}/></td>
                                <td>{{$v.ID}}</td>
                                <td>{{$v.Name}}</td>
                            </tr>{{end}}
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th></th>
                <td>{{if permission .userId "/admin/role/edit/*" "post"}}
                        <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> 保存</button>{{end}}
                    <button type="button" class="btn btn-primary" onclick="history.back();">取消</button>
                </td>
            </tr>{{end}}
            </tbody>
        </table>
    </form>
</fieldset>