<fieldset>
    <legend>角色列表{{if permission .userId "/admin/role/add" "get"}}
    <a class="btn btn-primary btn-xs" href="/admin/role/add">
        <span class="glyphicon glyphicon-plus"></span> 添加角色</a>{{end}}
    </legend>
    <div class="refresh">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-xs-1">ID</th>
                    <th class="col-xs-2">创建时间</th>
                    <th>角色名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                {{$hasEdit:=permission .userId "/admin/role/edit/*" "get"}}
                {{$hasDelete:=permission .userId "/admin/role/delete/*" "get"}}
                <tbody>{{range $k, $v := .data.List}}
                    <tr>
                        <td>{{$v.ID}}</td>
                        <td>{{date $v.CreatedAt "Y-m-d H:i:s"}}</td>
                        <td>{{$v.RoleName}}</td>
                        <td>{{if ne $v.ID 1}}{{if $hasEdit}}
                                <a href="/admin/role/edit/{{$v.ID}}">编辑</a> |{{end}}{{if $hasDelete}}
                                <a href="/admin/role/delete/{{$v.ID}}"
                                   onclick="return del_confirm()">删除</a>{{end}}{{end}}
                        </td>
                    </tr>{{end}}
                </tbody>
            </table>
            {{str2html .data.Pager.ToString}}
        </div>
    </div>
</fieldset>