<fieldset>
    <legend>角色列表<a class="btn btn-primary btn-xs" href="/admin/role/add">
            <span class="glyphicon glyphicon-plus"></span> 添加角色</a>
    </legend>
    <div class="refresh">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">ID</th>
                    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">创建时间</th>
                    <th>角色名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>{{$isAdmin := eq .userId 1}}{{range $k, $v := .data.List}}
                    <tr>
                        <td>{{$v.ID}}</td>
                        <td>{{date $v.CreatedAt "Y-m-d H:i:s"}}</td>
                        <td>{{$v.RoleName}}</td>
                        <td>{{$notAdminData := ne $v.ID 1}}{{if or $isAdmin $notAdminData}}
                            <a href="/admin/role/edit/{{$v.ID}}">编辑</a> |
                            <a href="/admin/role/delete/{{$v.ID}}" onclick="return del_confirm()">删除</a>{{end}}
                        </td>
                    </tr>{{end}}
                </tbody>
            </table>
            {{str2html .data.Pager.ToString}}
        </div>
    </div>
</fieldset>