<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">温馨提醒</div>
        <div class="panel-body showmsg">
            <p>{{ .message }}</p>
            <br/>
            <a href="{{.redirect}}">如果您的浏览器没自动跳转，请点击这里</a>
            <script type="text/javascript">
                setTimeout("window.location.href='{{.redirect}}'", 3000);
            </script>
            <br/><br/>
            <img src="{{.theme}}images/logo.png" alt=""/>
        </div>
    </div>
</div>
