<link href="{{.theme}}css/photo.css" rel="stylesheet">

<h1 class="t_nav">
    <a href="/" class="n1">网站首页</a>
    <a href="/album.html" class="n2">光影瞬间</a>
    <strong><span class="glyphicon glyphicon-map-marker"></span> 每一个瞬间的摄影，都是无法复摹独一无二的</strong>
</h1>
<div class="albumlist col-xs-12">
    <ul class="gallery col-xs-12">
        {{range $k, $v := .data.List}}
            <li class="col-md-2 col-sm-6">
                <a href="/album/{{$v.ID}}" class="col-xs-12">
                    <div class="box1 col-xs-12"
                         style="background:url({{$v.Cover}});">
                        <div class="box2-wrap">
                            <div class="box2">{{$v.CountPhotos}}</div>
                        </div>
                    </div>
                    <span class="col-xs-12"
                          title="{{$v.Name}}">{{$v.LongNameAlter}}</span>
                </a>
            </li>
        {{end}}
    </ul>
</div>
{{str2html .data.Pager.ToString}}