<h1 class="t_nav">
    <a href="/" class="n1">网站首页</a>
    <a href="/category.html" class="n2">归类归档</a>
    <strong><span class="glyphicon glyphicon-map-marker"></span> 归类就像规划人生一样，定位、正确、坚持。</strong>
</h1>

<div class="tags-body col-md-9 col-xs-12">
    <blockquote><p>归类</p></blockquote>
    <div class="tags">
        {{range $k, $v := .data.List}}
            <a href="/category/{{$v.ID}}" class="btn btn-default">
                <div style="color: {{$v.RangeColor}};">{{$v.Name}}<span class="badge">{{$v.CountArticles}}</span></div>
            </a>
        {{end}}
    </div>
    {{str2html .data.Pager.ToString}}
</div>