<h2 class="title_tj col-xs-12">
    <div>文章<span>推荐</span></div>
</h2>
<div class="bloglist col-md-9 col-xs-12">
    {{range $k, $v := .data}}
        <div class="tagpanel col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{$v.Name}}
                    <a href="/category/{{$v.ID}}" class="pull-right"><span class="badge">更多>></span></a>
                </div>
                <div class="panel-body">
                    <ul>
                        {{range $kk, $vv := $v.Articles}}
                            <li class="col-xs-12">
                                <div class="r-img col-xs-2">
                                    <a href="{{$vv.Link}}">
                                        <img src="{{$vv.Cover}}" class="col-xs-12" alt=""/>
                                    </a>
                                </div>
                                <div class="r-data col-xs-9">
                                    <div class="r-data-title">
                                        <a href="{{$vv.Link}}" title="{{$vv.Title}}">{{str2html $vv.ColorTitle}}</a>
                                    </div>
                                    <div class="data-info">
                                        <span>{{date $vv.CreatedAt "Y-m-d H:i"}}</span>
                                    </div>
                                </div>
                                <div class="r-left-box"></div>
                            </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    {{end}}
</div>