<script src="/static/lightgallery/js/picturefill.min.js"></script>
<script src="/static/lightgallery/dist/js/lightgallery.js"></script>
<script src="/static/lightgallery/js/lg-pager.js"></script>
<script src="/static/lightgallery/js/lg-autoplay.js"></script>
<script src="/static/lightgallery/js/lg-fullscreen.js"></script>
<script src="/static/lightgallery/js/lg-zoom.js"></script>
<link rel="stylesheet" type="text/css" href="/static/lightgallery/dist/css/lightgallery.min.css">
<link href="{{.theme}}css/photo.css" rel="stylesheet">

<h1 class="t_nav">
    <a href="/" class="n1">网站首页</a>
    <a href="/album.html" class="n2">返回列表</a>
    <strong><span class="glyphicon glyphicon-map-marker"></span> 每一个瞬间的摄影，都是无法复摹独一无二的</strong>
</h1>
<div class="photolist col-xs-12">
    <ul id="lightgallery" class="gallery list-unstyled col-xs-12">
        {{range $k, $v := .data.List}}
            <li data-sub-html="IMG_{{$v.ID}}" data-src="{{$v.Url}}" class="col-md-2 col-sm-6">
                <a href="#" class="col-xs-12">
                    <img src="{{$v.ChangetoSmall}}" class="col-xs-12" alt=""/>
                    <span class="col-xs-12"
                          title="IMG_{{$v.ID}}">IMG_{{$v.ID}}</span>
                </a>
            </li>
        {{end}}
    </ul>
    <script>
        lightGallery(document.getElementById('lightgallery'));
    </script>
    {{str2html .data.Pager.ToString}}
</div>
