<div class="right-bar col-lg-3 col-md-3 hidden-sm hidden-xs column">
    {{/*<div class="weather">*/}}
    {{/*<iframe scrolling="no" src="//tianqiapi.com/api.php?style=td&skin=pitaya" frameborder="0" width="300" height="30" allowtransparency="true"></iframe>*/}}
    {{/*</div>*/}}
    <div class="news">
        <h3 class="wz">最新<span>文章</span></h3>
        <ul class="rank">
            {{range $k,$v := .latestArticles}}
                <li><a href="{{$v.Link}}" title="{{$v.Title}}">{{str2html $v.ColorTitle}}</a></li>
            {{end}}
        </ul>
        <h3 class="ph">点击<span>排行</span></h3>
        <ul class="paih">
            {{range $k,$v := .hotArticles}}
                <li><a href="{{$v.Link}}" title="{{$v.Title}}">{{str2html $v.ColorTitle}}</a></li>
            {{end}}
        </ul>
        <h3 class="npk">最新<span>评论</span></h3>
        <ul class="newcomment">
            {{range $k,$v := .latestComments}}
                <li>
                    <a class="pull-left">
                        <img class="media-object" src="{{ $v.User.Avatar }}" height="36" width="36" alt="">
                    </a>
                    <div class="media-body">
                        <h6 class="media-heading">{{$v.User.Nickname}}{{ if eq $v.User.ID 1 }}
                                <button class="btn btn-info btn-xs">官方</button>{{end}}
                            <span>{{$v.ShowSubTime}}</span>
                        </h6>
                        {{if eq $v.ObjPKType 1}}
                            <a href="/links.html#comment-{{$v.ID}}"
                               title="{{$v.Titleln}}">{{$v.ReturnLimit $v.Content}}</a>
                        {{else}}
                            <a href="{{$v.Article.Link}}#comment-{{$v.ID}}"
                               title="{{$v.Titleln}}">{{$v.ReturnLimit $v.Content}}</a>
                        {{end}}
                    </div>
                </li>
            {{end}}
        </ul>
        <h3 class="links">友情<span>链接</span></h3>
        <div class="link-friends">
            {{range $k, $v := .links}}
                <span>
                <a rel="link" href="{{$v.Url}}" title="{{$v.SiteName}}" target="_blank">
                <img alt='' src='{{$v.SiteAvatar}}' class='wyavater' height='40' width='40' title="{{$v.SiteDesc}}"/>
                <span class="sitename">{{$v.SiteName}}</span>
                </a>
		    </span>
            {{end}}
        </div>
        <a class="weixin"></a>
    </div>
</div>