<div class="right-bar col-lg-3 col-md-3 hidden-sm hidden-xs">
    <div class="panel panel-default">
        <div class="panel-heading">最新文章</div>
        <div class="panel-body">
            <ul>
                {{range $k,$v := .latestArticles}}
                    <li class="col-md-12">
                        <div class="r-img">
                            <a href="{{$v.Link}}" title="{{$v.Title}}">
                                <img src="{{$v.Cover}}" alt="" width="60" height="42"/>
                            </a>
                        </div>
                        <div class="r-data">
                            <div class="r-data-title">
                                <a href="{{$v.Link}}" title="{{$v.Title}}">{{str2html $v.ColorTitle}}</a>
                            </div>
                            <div class="r-data-info">
                                <span>{{date $v.CreatedAt "Y-m-d"}}</span>
                            </div>
                        </div>
                        <div class="r-left-box"></div>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">点击排行</div>
        <div class="panel-body">
            <ul>
                {{range $k,$v := .hotArticles}}
                    <li class="col-md-12">
                        <div class="r-img">
                            <a href="{{$v.Link}}" title="{{$v.Title}}">
                                <img src="{{$v.Cover}}" alt="" width="60" height="42"/>
                            </a>
                        </div>
                        <div class="r-data">
                            <div class="r-data-title">
                                <a href="{{$v.Link}}" title="{{$v.Title}}">{{str2html $v.ColorTitle}}</a>
                            </div>
                            <div class="r-data-info">
                                <span>{{date $v.CreatedAt "Y-m-d"}}</span>
                            </div>
                        </div>
                        <div class="r-left-box"></div>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">最新评论</div>
        <div class="panel-body">
            <ul>
                {{range $k,$v := .latestComments}}
                    <li class="col-md-12">
                        <a class="pull-left">
                            <img class="media-object" src="{{ $v.User.Avatar }}" height="36" width="36" alt=""/>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">{{$v.User.Nickname}}{{ if eq $v.User.ID 1 }}
                                    <button class="btn btn-info btn-xs">官方</button>{{end}}
                                <span>{{$v.ShowSubTime}}</span>
                            </h6>
                            {{if eq $v.ObjPKType 1}}
                                <a href="/links.html#comment-{{$v.ID}}"
                                   title="{{$v.Titleln}}">{{$v.ReturnLimit $v.Content}}</a>
                            {{else}}
                                <a href="{{$v.Article.Link}}#comment-{{$v.ID}}"
                                   title="{{$v.Titleln}}">{{$v.ReturnLimit $v.Content}}</a>
                            {{end}}
                        </div>
                        <div class="r-left-box"></div>
                    </li>
                {{end}}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">友情链接</div>
        <div class="panel-body">
            <div class="link-friends">
                {{range $k,$v := .links}}
                    <span>
                        <a rel="link" href="{{$v.Url}}" title="{{$v.SiteName}}" target="_blank">
                        <img alt='' src='{{$v.SiteAvatar}}' class='wyavater' height='40' width='40'
                             title="{{$v.SiteDesc}}"/>
                        <span class="sitename">{{$v.SiteName}}</span>
                        </a>
                    </span>
                {{end}}
            </div>
        </div>
    </div>
    <div><a class="weixin"></a></div>
</div>