<fieldset>
    <legend>添加规则<a class="btn btn-primary btn-xs" href="/admin/policy/list">
            <span class="glyphicon glyphicon-share-alt"></span> 返回</a>
    </legend>
    <form class="form-horizontal" method="post">
        <div class="table-responsive">
            <table class="table table-form">
                <tbody>
                <tr>
                    <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">规则名称:</th>
                    <td class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input name="name" class="form-control" type="text" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <th>Router:</th>
                    <td>
                        <input name="router" class="form-control"
                               type="text" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <th>Method:</th>
                    <td>
                        <input name="method" class="form-control"
                               type="text" autocomplete="off"/>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>{{if permission .userId "/admin/policy/add" "post"}}
                            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> 保存</button>{{end}}
                        <button type="button" class="btn btn-primary" onclick="history.back();">取消</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</fieldset>