<fieldset>
    <legend>文章列表{{if permission .userId "/admin/article/add" "get"}}
    <a class="btn btn-primary btn-xs" href="/admin/article/add">
        <span class="glyphicon glyphicon-plus"></span> 发布文章</a>{{end}}
    </legend>
    <ul class="nav nav-tabs">
        <li {{if eq .data.Status 0}}class="active"{{end}}><a
                    href="/admin/article/list?status=0">已发布({{.data.CountStatus0}})</a></li>
        <li {{if eq .data.Status 1}}class="active"{{end}}><a
                    href="/admin/article/list?status=1">草稿箱({{.data.CountStatus1}})</a></li>
        <li {{if eq .data.Status 2}}class="active"{{end}}><a
                    href="/admin/article/list?status=2">回收站({{.data.CountStatus2}})</a></li>
    </ul>
    <div class="search-form">
        <form action="/admin/article/list" method="get" class="form-inline">
            <input name="status" value="{{.data.Status}}" type="hidden"/>
            <label>
                <select name="search" class="form-control">
                    <option value="title" {{if eq .data.Search "title"}}selected{{end}}>标题</option>
                    <option value="author" {{if eq .data.Search "author"}}selected{{end}}>作者</option>
                    <option value="tag" {{if eq .data.Search "tag"}}selected{{end}}>标签</option>
                </select>
            </label>
            <label for="keyword"><input name="keyword" value="{{.data.Keyword}}" class="form-control"
                                        placeholder="关键字" type="text" autocomplete="off"/></label>
            <button type="submit" class="btn">搜索</button>
        </form>
    </div>
    <form method="post" action="/admin/article/list">
        <div class="refresh">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><label>
                                <input type="checkbox" value="0" onclick="checkall('ids', this)"/>
                            </label></th>
                        <th>ID</th>
                        <th style="min-width: 150px;">标题</th>
                        <th>标签</th>
                        <th>点击量</th>
                        <th>发布人</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {{$hasPush:=permission .userId "/admin/article/push/*" "get"}}
                    {{$hasEdit:=permission .userId "/admin/article/edit/*" "get"}}
                    {{$hasDelete:=permission .userId "/admin/article/delete/*" "get"}}
                    <tbody>{{range $k, $v := .data.List}}
                        <tr>
                            <td><label>
                                    <input type="checkbox" name="ids" value="{{$v.ID}}"/>
                                </label></td>
                            <td>{{$v.ID}}</td>
                            <td class="hl_title">{{if $v.Istop}}
                                    <i class="icon-arrow-up" title="置顶"> </i>{{end}}
                                <a href="{{$v.Link}}" target="_blank">{{str2html $v.ColorTitle}}</a>{{if $v.Urltype}}
                            <span class="label label-default">页面</span>{{end}}
                            </td>
                            <td class="hl_tag">{{str2html $v.TagsLink}}</td>
                            <td>{{$v.Views}}</td>
                            <td class="hl_author">{{$v.User.Nickname}}</td>
                            <td>{{date $v.CreatedAt "Y年m月d日 H:i:s"}}</td>
                            <td>{{if eq $v.Status 0}}{{if $hasPush}}
                                    <a href="/admin/article/push/{{$v.ID}}">推送</a> |{{end}}{{end}}{{if $hasEdit}}
                                    <a href="/admin/article/edit/{{$v.ID}}">编辑</a> |{{end}}{{if $hasDelete}}
                                    <a href="/admin/article/delete/{{$v.ID}}"
                                       onclick="return del_confirm()">删除</a>{{end}}
                            </td>
                        </tr>{{end}}
                    </tbody>
                    <div class="col-lg-12" style="padding: 10px 0 0 0">
                        <label>
                            <select class="form-control" name="option" style="display: inline">
                                <option>批量操作</option>
                                <option value="public">移至已发布</option>
                                <option value="template">移至草稿箱</option>
                                <option value="recycle">移至回收站</option>
                                <option value="delete">删除</option>
                            </select>
                        </label>
                        <button type="submit" class="btn btn-primary">应用</button>
                    </div>
                </table>
                {{str2html .data.Pager.ToString}}
            </div>
        </div>
    </form>
</fieldset>

<script type="text/javascript">
    CheckSearch()
</script>