<fieldset>
    <legend>个人资料</legend>
    <form class="form-horizontal" method="post">
        <table class="table table-form">
            <tbody>
            <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">帐号:</th>
                <td class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <input name="username" disabled value="{{.user.Username}}" class="form-control"
                           type="text" autocomplete="off"/>
                </td>
            </tr>
            <tr>
                <th>登录次数:</th>
                <td>
                    {{.user.CountLogin}}
                </td>
            </tr>
            <tr>
                <th>最后登录:</th>
                <td>
                    {{date .user.UpdatedAt "Y-m-d H:i:s"}} ({{.user.LastLoginIP}})
                </td>
            </tr>
            <tr>
                <th>用户头像:</th>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon">当前：</span>
                        <input type="text" id="avatar" name="avatar" class="form-control" value="{{.user.Avatar}}"
                               autocomplete="off"/>
                    </div>
                    <input type="file" id="new_avatar"/>
                    <img src="{{.user.Avatar}}" id="auto_view" class="img-rounded" width="60" height="60" alt="">
                    <button type="button" id="upload_img" class="btn btn-primary">上传</button>
                    <div class="alert alert-warning">
                        <strong>温馨提示：</strong>点击上传,保存后才能生效, 服务器仅允许上传格式jpg、jpeg、png并自动裁剪像素:60*60
                    </div>
                </td>
            </tr>
            <tr>
                <th>昵称:</th>
                <td>
                    <input type="text" name="nickname" value="{{.user.Nickname}}" class="form-control"
                           autocomplete="off"/>
                </td>
            </tr>
            <tr>
                <th>邮箱:</th>
                <td>
                    <input name="email" value="{{.user.Email}}" class="form-control"
                           type="text" autocomplete="off"/>
                </td>
            </tr>
            <tr>
                <th style="padding-top: 12px!important;vertical-align: top!important;">当前密码:</th>
                <td>
                    <input type="password" name="password" class="form-control"/>
                    <div class="alert alert-warning">
                        <strong>温馨提示：</strong>修改基本资料时无需校验密码
                    </div>
                </td>
            </tr>
            <tr>
                <th>新密码:</th>
                <td>
                    <input type="password" name="new_password" class="form-control"/>
                </td>
            </tr>
            <tr>
                <th>确认密码:</th>
                <td>
                    <input type="password" name="new_password_again" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> 保存</button>
                    <button type="button" class="btn btn-primary" onclick="history.back();">取消</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</fieldset>