<fieldset>
    <legend>心情列表{{if permission .userId "/admin/mood/add" "get"}}
    <a class="btn btn-primary btn-xs" href="/admin/mood/add">
        <span class="glyphicon glyphicon-plus"></span> 添加心情</a>{{end}}
    </legend>
    <div class="refresh">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>时间</th>
                    <th>内容</th>
                    <th>图片</th>
                    <th>操作</th>
                </tr>
                </thead>{{$hasDelete:=permission .userId "/admin/mood/delete/*" "get"}}
                <tbody>{{range $k, $v := .data.List}}
                    <tr>
                        <td style="min-width: 80px">{{$v.ID}}</td>
                        <td style="min-width: 100px">{{date $v.CreatedAt "y-m-d H:i:s"}}</td>
                        <td style="white-space: normal;min-width: 500px">{{str2html $v.Content}}</td>
                        <td style="min-width: 200px">{{if ne $v.Cover ""}}
                                <img src="{{$v.Cover}}" width="170" height="80" alt=""/>{{end}}
                        </td>
                        <td style="min-width: 80px">{{if $hasDelete}}
                                <a href="/admin/mood/delete?id={{$v.ID}}" onclick="return del_confirm()">删除</a>{{end}}
                        </td>
                    </tr>{{end}}
                </tbody>
            </table>
            {{str2html .data.Pager.ToString}}
        </div>
    </div>
</fieldset>